* text=auto eol=lf
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/notes_4358b5009c67d0e31d7fbf1663fcd3bf.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/repositories_8413009e9558ae34d1b5243101f40d58.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-users_4855713671247372e5d39b98004a2e2d.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-notes_be5e32c975f13f0cdf67c699d712987c.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/milestones_9b680059d7f7ea92ea578a9ceeb0f0db.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules_0eb9b3af2e4a00837a1b1a854c9ea18c.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches-files-files_575fd056b9f30d41b7689a8f33cfaef3.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches_92ec19ffde05e15769b1bb3ee05ad745.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-modules_3cb81e7cdeb3d91803f16bd4026c6c1c.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-commits_d0589f4ebaa05afae29da03b30ca0037.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules-modules_5e44aa3c03f079fe3a8c403fad509cfd.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/accounts-users_e3514f52e3d15a5afb3c470feb444344.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches-files_1cbce3948bb386b8edeb0c6aceb43ebc.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/projects_35a2864c314e4367eb1684bfe126a967.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-accounts_051472f29a06d313e190f5a3b573da73.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-notes_162283a93c6d7b931704c90ac8872ca4.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-milestones_db32d0b857dd184b4df017b2d399b80a.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-files-users_0315da0bab9c27fd470a8cd5df295653.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-files_3c2bf8cbca8a735732eaebd354462b46.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-users_cd7f1b7510a9cf68936a59f2f3177c92.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-milestones_731068e7a791c653b905e1e6708b16c0.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-accounts_4b7474f7ed1d66d1edb5a33a49df15e9.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-accounts_84d416aa9fa22c1e3d06508c8ad99a37.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/notes-accounts_65e5dc6ce712edfd6e43aaa6e97bf139.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/users_9bc65c2abec141778ffaa729489f3e87.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/accounts_7a90e38a211ece1c346928e7d1f3e968.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/builds_cd255022df04facc108ae4d30a05e7bb.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commit-files-users_ed9db081ad31d4b649828318f4188105.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-commits_e61beb293e6c7fa7279bd09bf6c83907.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits_a90814b38bbdfe717205f6d24183f6a7.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/files_45b963397aa40d4a0063e0d85e4fe7a1.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules-files_0dd43d02d05ab5264fc0ffc6db6fc578.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branch-files-files_2382d4b475c324a5f899bd41f53f1b1f.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-builds_2020d37022b0bceeb7ee159bb8fb2c50.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-milestones_00fe78ea209104d4dc889228e55d1aa1.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests_22423e6b116480eb9cf2a8b74e151811.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues_fe5fe0415fc3e0ff4942d8454f363d2c.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-notes_bb395231956aa01001b77c61487d47e4.structure.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests_22423e6b116480eb9cf2a8b74e151811.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules_0eb9b3af2e4a00837a1b1a854c9ea18c.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/repositories_8413009e9558ae34d1b5243101f40d58.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-modules_3cb81e7cdeb3d91803f16bd4026c6c1c.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-accounts_84d416aa9fa22c1e3d06508c8ad99a37.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules-files_0dd43d02d05ab5264fc0ffc6db6fc578.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/notes_4358b5009c67d0e31d7fbf1663fcd3bf.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-milestones_db32d0b857dd184b4df017b2d399b80a.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/accounts-users_e3514f52e3d15a5afb3c470feb444344.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commit-files-users_ed9db081ad31d4b649828318f4188105.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-commits_d0589f4ebaa05afae29da03b30ca0037.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-notes_be5e32c975f13f0cdf67c699d712987c.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/projects_35a2864c314e4367eb1684bfe126a967.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-files-users_0315da0bab9c27fd470a8cd5df295653.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-milestones_731068e7a791c653b905e1e6708b16c0.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-builds_2020d37022b0bceeb7ee159bb8fb2c50.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-accounts_051472f29a06d313e190f5a3b573da73.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-accounts_4b7474f7ed1d66d1edb5a33a49df15e9.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/notes-accounts_65e5dc6ce712edfd6e43aaa6e97bf139.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/accounts_7a90e38a211ece1c346928e7d1f3e968.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches_92ec19ffde05e15769b1bb3ee05ad745.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits_a90814b38bbdfe717205f6d24183f6a7.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-notes_162283a93c6d7b931704c90ac8872ca4.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/modules-modules_5e44aa3c03f079fe3a8c403fad509cfd.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/mergeRequests-notes_bb395231956aa01001b77c61487d47e4.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-users_cd7f1b7510a9cf68936a59f2f3177c92.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/builds_cd255022df04facc108ae4d30a05e7bb.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-commits_e61beb293e6c7fa7279bd09bf6c83907.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/commits-files_3c2bf8cbca8a735732eaebd354462b46.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/milestones_9b680059d7f7ea92ea578a9ceeb0f0db.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/users_9bc65c2abec141778ffaa729489f3e87.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches-files-files_575fd056b9f30d41b7689a8f33cfaef3.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues-users_4855713671247372e5d39b98004a2e2d.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/issues_fe5fe0415fc3e0ff4942d8454f363d2c.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/merge-requests-milestones_00fe78ea209104d4dc889228e55d1aa1.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branch-files-files_2382d4b475c324a5f899bd41f53f1b1f.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/branches-files_1cbce3948bb386b8edeb0c6aceb43ebc.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/files_45b963397aa40d4a0063e0d85e4fe7a1.data.json.gz filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/ENCRYPTION filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/dump/dump.json filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/web/src/test/resources/realdata/db_dump/** filter=lfs diff=lfs merge=lfs -text
binocular-backend-new/ffi/src/main/resources/** filter=lfs diff=lfs merge=lfs -text
