.previewTableContainer {
  height: 50vh;
  overflow: scroll;
}

.previewTable {
}

.previewTableCell {
  border: 1px solid lightgrey;
}

.previewTableHeader {
}

.previewTableHeaderEven {
  border: 1px solid lightgrey;
  background: #eeeeee;
}

.previewTableHeaderOdd {
  border: 1px solid lightgrey;
  background: #cccccc;
}

.chartContainer {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
  }
}

.mg1 {
  margin: 1rem;
}
