@import "tailwindcss";
@source "./src/**/*.{html,js,ts,tsx,jsx}";

@plugin "daisyui" {
  themes: [
      cyberpunk,
      black,
      binocularLight --default,
      binocularDark --prefersdark
  ]
}

@layer base {
  h1 {
    @apply mt-2;
    @apply text-2xl;
    @apply font-bold;
    @apply underline;
  }
  h2 {
    @apply mt-1;
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply mt-1;
    @apply text-lg;
    @apply font-bold;
  }
  h4{
    @apply font-bold;
  }
  a {
    @apply text-accent;
    @apply underline;
  }
  p {
    @apply mb-1;
  }
}

@plugin "daisyui/theme" {
  name: binocularLight;
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-content: "#111111";

  --color-primary: "#0c74bb";
  --color-primary-content: "#FFFFFF";
  --color-accent: "#555555";
  --color-accent-content:"#FFFFFF";
  --color-neutral: "#CCC";
  --color-neutral-content:"#555";
  --color-base-100: "#FFFFFF";
  --color-base-200: "#FAFAFA";
  --color-base-300: "#E0E0E0";
  --color-success:"#4cd964";
  --color-success-content: "#FFFFFF";
  --color-error:"#db131f";
  --color-error-content: "#FFFFFF";
  --color-warning:"#ffcc00";
  --color-info:"#5ac8fa";

  /* border radius */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  /* custom shadows */
  --shadow-default: 0 0 3px oklch(0 0 0 / 0.2);
  --shadow-default-inset: 0 0 3px oklch(0 0 0 / 0.2) inset;
}

@plugin "daisyui/theme" {
  name: binocularDark;
  default: false; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-primary: "#0c74bb";
  --color-primary-content: "#FFFFFF";
  --color-accent: "#0062cc";
  --color-accent-content:"#FFFFFF";
  --color-neutral: "#555";
  --color-neutral-content:"#ddd";
  --color-base-100: "#111";
  --color-base-200: "#222";
  --color-base-300: "#333";
  --color-base-content: "#dbeaf5";
  --color-success:"#229e37";
  --color-success-content: "#fff";
  --color-error:"#db131f";
  --color-error-content: "#fff";
  --color-warning:"#c05e00";
  --color-info:"#5ac8fa";

  /* border radius */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;

  /* custom shadows */
  --shadow-default: 0 0 4px oklch(1 0 0 / 0.12);
  --shadow-default-inset: 0 0 4px oklch(1 0 0 / 0.12) inset;
}
