$padding-primary: .2rem;

$border-default-width: 1px;
$border-default: $border-default-width solid;
$border-radius-default: .5rem;
$border-radius-small: .25rem;

$shadow-default: var(--shadow-default);
$shadow-default-inset: var(--shadow-default-inset);

$statusBarHeight: 1.5rem;
